name: publish
on:  # yamllint disable-line rule:truthy
  release:
    types: [published]
  workflow_dispatch:

jobs:
  pypi:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/create-soundcard
      - uses: pyvista/setup-headless-display-action@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - uses: astral-sh/setup-uv@v6
      - run: uv pip install --quiet --system .[build]
      - run: stimuli sys-info --developer
      - name: Build and publish
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN  }}
        run: |
          python -m build
          twine check --strict dist/*
          twine upload dist/*
